<form class="location-form" method="post">


  <div class="form-2-3">

    <div class="group location-name omega">      
      <input class="inputMaterial" type="text" required name="location" value="Seattle, 4th & Pike 
">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Location Name</label>
    </div>

    <div class="group address-1 form-1-2">      
      <input class="inputMaterial" type="text" required name="address-1" value="1234 Pike St.">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Address</label>
    </div>     

    <div class="group address-2 form-1-2 omega">      
      <input class="inputMaterial" type="text" required name="address-2" value="Suite 1337">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Address</label>
    </div>  

    <div class="group city form-1-2">      
      <input class="inputMaterial" type="text" required name="city" value="Seattle">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>City</label>
    </div>  

    <div id="state-dd-2" class="custom-dropdown dd-1 group state form-1-4" tabindex="1">
      <span class="state-text">State</span><svg class="dropdown-icon"><use xlink:href="#icon--chevron" /></svg>
      <ul class="dropdown">
        <li><a href="#">WA</a></li>
        <li><a href="#">OR</a></li>
        <li><a href="#">AA</a></li>
        <li><a href="#">BB</a></li>
        <li><a href="#">CC</a></li>
        <li><a href="#">DD</a></li>
      </ul>
      <input class="state-hidden-input" type="hidden" name="state" value="WA">
    </div>
  
    <div class="group zipcode form-1-4 omega">      
      <input class="inputMaterial" type="text" required name="zipcode">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Zipcode</label>
    </div>      

  </div> {# /END .form-2-3 #}



  <div class="form-1-3 omega">

    <div class="group contact-email">      
      <input class="inputMaterial" type="text" required name="contact-email">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Contact Email</label>
    </div>     

    <div class="group reply-email">      
      <input class="inputMaterial" type="text" required name="reply-email">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Reply to Email</label>
    </div> 

    <div class="group phone">      
      <input class="inputMaterial" type="tel" required name="phone">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Phone</label>
    </div>         

  </div> {# /END .form-1-3 #}


</form>
