<section class="main-menu">
	
	<header class="header" >
			<a href="" class="header--logo">
				<svg class="logo-svg">
				  <use xlink:href="#logo" />
				</svg>				
			</a>	
	</header>		

	<div class="sidebar-navigation">
		<nav class="main-navigation">
			<ul class="navigation-list">
				<li class="list-item">
					<a href="#">
						<svg class="menu-icon--dashboard">
						  <use xlink:href="#icon--dashboard" />
						</svg>
						Dashboard</a>
				</li>		
				<li class="list-item current">
					<a href="#">
						<svg class="menu-icon--classes ">
						  <use xlink:href="#icon--classes" />
						</svg>
						Classes</a>
				</li>	
				<li class="list-item">
					<a href="#">
						<svg class="menu-icon--students">
						  <use xlink:href="#icon--students" />
						</svg>
						Students</a>
				</li>		
				<li class="list-item">
					<a href="#">
						<svg class="menu-icon--payments">
						  <use xlink:href="#icon--payments" />
						</svg>
						Payments</a>
				</li>		
				<li class="list-item">
					<a href="#">
						<svg class="menu-icon--staff">
						  <use xlink:href="#icon--staff" />
						</svg>
						Staff</a>
				</li>
				<li class="list-item">
					<a href="#">
						<svg class="menu-icon--settings">
						  <use xlink:href="#icon--settings" />
						</svg>
						Settings</a>
				</li>		
				<li class="list-item log-out">
					<a href="#">
						<svg class="menu-icon--logout">
						  <use xlink:href="#icon--logout" />
						</svg>
						Log Out</a>
				</li>		
			</ul>
		</nav>
	</div>
</section>