<section class="location">
	<h3 class="header--location-name">
		Seattle, 4th & Pike
		<svg class="dropdown-icon"><use xlink:href="#icon--chevron" /></svg>
	</h3>
	{% include "_modules/location--form1.twig"  %}			
</section>

<section class="location">	
	<h3 class="header--location-name">
		Seattle, 5th & Pine
		<svg class="dropdown-icon">
			<use xlink:href="#icon--chevron" /></svg>
	</h3>
		{% include "_modules/location--form2.twig"  %}	
</section>


<section class="add-location">
	<h3 class="header--add-location"><a href="#" onclick="event.preventDefault();" ><svg class="plus-icon"><use xlink:href="#icon--plus" /></svg>Create New Location</a></h3>
</section>


