<section class="studio-container" >

	<h1 class="studio-title">Happy Dance & Music</h1>

  <div id="location-dd" class="select-style custom-dropdown" tabindex="1">
    <span class="state-text">Seattle 4th and Pike</span><svg class="dropdown-icon"><use xlink:href="#icon--chevron" /></svg>
    <ul class="dropdown">
      <li><a href="#">Seattle 4th and Pike</a></li>
      <li><a href="#">Seattle 5th and Pine</a></li>
      <li><a href="#">Location 4</a></li>
      <li><a href="#">Location 5</a></li>
    </ul>
  </div>	

	<section class="studio-location--container">
		<h2 class="studio--title">Studio Settings</h2>
		<nav class="studio-item--navigation">
			<ul class="menu-items--list">
				<li class="menu-item--list-item"><a href="#company">Company Account</a></li>
				<li class="menu-item--list-item current"><a href="#locations">Locations</a></li>
				<li class="menu-item--list-item"><a href="#class-types">Class Types</a></li>
				<li class="menu-item--list-item"><a href="#managers">Managers</a></li>
				<li class="menu-item--list-item"><a href="#billing-info">Billing Info</a></li>
				<li class="menu-item--list-item"><a href="#merchant-account">Merchant Account</a></li>
			</ul>
		</nav>


		<section class="menu-items--content-container">
			<section id="company" class="menu-item--content">Company Content<br>
				<img src="http://placehold.it/350x150?text=Company+Content">
			</section>	
			<section id="locations" class="menu-item--content ">
				{% include "_modules/studio-tab-content--locations.twig"  %}		
			</section>
			<section id="class-types" class="menu-item--content">Class Types Content<br>
				<img src="http://placehold.it/350x150?text=Class+Types+Content">
			</section>
			<section id="managers" class="menu-item--content">Managers Content<br>
				<img src="http://placehold.it/350x150?text=Managers+Content">
			</section>
			<section id="billing-info" class="menu-item--content">Billing Info Content<br>
				<img src="http://placehold.it/350x150?text=Billing+Info+Content">
			</section>
			<section id="merchant-account" class="menu-item--content">Merchant Account Content<br>
				<img src="http://placehold.it/350x150?text=Merchan Account+Content">
			</section>
		</section>

		<section class="section--save">
			<button class="button--cancel">Cancel</button>
			<button class="button--save">Save Changes</button>
		</section>
	</section> {# END .studio-location--container#}

</section> {# END .studio-container#}
