{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}



	<body   class="{{body_class}}" data-template="base.twig" >
	<div class="background-container">

	{% include "_svg/svg-sprite.twig"  %}

	{% include "_modules/main-menu.twig"  %}

	{% include "_modules/studio.twig"  %}
	
	</div>


	
		{{ function('wp_footer') }}		

		<script type='text/javascript' id="__bs_script__">//<![CDATA[
		    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
		//]]></script>
		<style> html { margin-top: 0 !important; } </style>		
	</body>
</html>
