html { margin-top: 0 !important }

body { background-color: $blue-white; }

.background-container {
	@include outer-container;
	padding: 3em 1em;
	background-color: $blue-white;
}


.main-menu {
	@include span-columns(2);
}


.studio-container {
	@include span-columns(10);
	@include omega();
}


.studio-title {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 700;
	&:after { content: "|"; margin: 0 1em; font-weight: 200; }
}

.sidebar-navigation, .studio-location--container {
	margin-top: 3em;
}


[id^="icon--"] {
	display: inline-block;
}

[class^="menu-icon--"] {
	display: inline-block;
	fill: none;
	stroke: $black;
	width: em(20);
	height: 1em;
	margin-right: .25em;
  transform: translateY(20%);
}


// Studio Select Drop Down Box
.select-style {
	position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 0 -.25em 0;
  width: 10.5em;
  border-radius: 3px;
  overflow: hidden;
  background-color: transparent;
  color: $blue;
  // background: url("../svg/Chevron_Icon.svg") no-repeat 100% 50%;
  &.select-style select {
	  // padding: 5px 8px;
	  width: 130%;
	  border: none;
	  box-shadow: none;
	  background-color: transparent;
	  background-image: none;
	  -webkit-appearance: none;
	     -moz-appearance: none;
	          appearance: none;           
	  &:focus{outline: none;}        
	}	
	.dropdown-icon {
		position: absolute;
	  right: 0;
	  top: 0;
		display: inline;
		width: 1em;
		height: .5em;
	  margin-top: .5em;
		fill: none;
		stroke: $blue;
		stroke-width: 2px;
	}	
}







