$logo-width: em(114);

.logo-svg{
	width: $logo-width;	
	// ensures proper height:width ratio for logo no matter what size it may need to be changed to
	height: $logo-width * .184;	
}


.navigation-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
  margin-top: -.5em;

	.list-item {
		margin-bottom: 1em;
		& a {
			font-size: 1.23em;
			&:hover {
				color: $blue;
				[class^="menu-icon--"] { stroke: $blue;}
			}
		}
		&.current  a{
				color: $blue;
				[class^="menu-icon--"] { stroke: $blue;}
		}
	}
}