.menu-items--list {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.menu-item--list-item {
	display: inline-block;
	padding-right: 1em;
	position: relative;

	margin-right: 1rem;
	&.current a { 
		color: $blue;

		&:after {
			// blue bottom border when actuve
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background-color: $blue;
			transform: translateY(2px);
		}
	}
}

.section--save, .menu-item--list-item  {
	padding: 1rem 0 ;	
}

.menu-item--content {
	display: none;
	&.current { display: block;}
}


.studio-location--container {
	background-color: $white;	
	& #locations { display: block;}
}

.studio-item--navigation, {
	padding-top: 0;
	padding-bottom: 0;
}

.section--save {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	text-align: center;
}



// Base Button Styles
[class^="button--"] {
	padding: .5em 2em;
	margin: 0 .5em;
	border-radius: 3px;
	border: 1px solid $blue-grey;
	transition: .15s all ease-out;
	cursor: default;
	&:hover, &:focus{ cursor: default; outline:0; }	
}

.button--cancel {
	background-color: $white;
	color: $blue-grey;
}

.button--save {
	background-color: $blue-grey;
	color: $white;
}

// Button Styles on forms have been altered
.changes-made {
	[class^="button--"]:hover { cursor: pointer; }	
	.button--save {
		background-color: $green;
		border-color: $green;
		color: $white;
		&:hover { background-color: darken($green, 4%); }	
		&:active { background-color: darken($green, 10%); }
	}
	.button--cancel {
		&:hover{
			background-color: $blue-grey;			
			color: $white;
			&:active { background-color: darken($blue-grey, 10%); }
		}			
	}
}


#location-dd {
	max-width: 12em;
	margin-top: 0;
	padding-top: 0;

	&.custom-dropdown {
		background-color: transparent;
		border-bottom: none;
		color: $blue;
		font-size: 1em;
	}

	.dropdown-icon {
		position: relative;
		margin-left: .25em;
	}
}




