.studio-location--container > * {
	border-bottom: 2px solid $studio-line;
	&:last-child { border-bottom: none; }
}

.studio--title, .location, .add-location  {padding: 2.75rem 2.75rem;}

.studio-item--navigation {padding: 0 2.75rem;}


.location {
	.header--location-name {
		color: $black;
		&:hover { cursor: pointer; }
	}
	.dropdown-icon {
		display: inline;
		width: 1em;
		height: .75em;
		margin: .25em 0 0 .8em;
		fill: none;
		stroke: $black;
		stroke-width: 2px;
	}	

	.location-form {
    opacity: 0;
    max-height: 0;
    // forced to add fixed height because overflow need to be hidden. 
    // visible overflow on .selected alows drop down to view properly	
    height: 17em;
    overflow: hidden;
    transition: max-height .1s ease-out;
	}

	&.selected {
		.header--location-name { color: $blue; }		
		.dropdown-icon { transform: rotate(180deg); stroke: $blue;}		
		.location-form {
			max-height: 80em;
			opacity: 1;
			overflow: visible;
			transition: max-height .7s ease-out;
		}		
	}
}

.location {
	border-bottom: 2px solid $studio-line;

	.select-style {
		color: $black;
		font-size: 1.2em;
		.dropdown-icon {
  		top: .5em;
  		transform: rotate(0);
  		stroke: $blue-grey;
	  }
	}
}


.location-form .state  {
	.dropdown-icon {
		transform: rotate(0deg);
		stroke: $blue-grey;
		float: right;
	}	
	&.active {
		& .dropdown-icon { stroke: $blue;}
		.state-text { color: $black; }		
	}
	&.updated .state-text{color: $black;}
}


.state.select-style{
	border-bottom: 1px solid $studio-line;
	border-radius: 0;	
}

.select-style.select-style select.state-select {
	width: 125%;
	padding-bottom: .25em;
	margin-top: .34em;
}

.header--add-location {
	a { color: $blue; }
	.plus-icon {
		display: inline;
		width: 1em;
		height: 1em;
		margin:  0 .5em -.2em 0;
		fill: none;
		stroke: $blue;
		stroke-width: 2px;		
	}	
}

$form-margin: 5%;

.form-1-3, 
.form-2-3,  
.form-1-2, 
.form-1-4, {
	display: block;
	float: left;
	margin-right: $form-margin;
	&.omega {
		@include omega;
	}
}


.form-1-3 {
	width: 30%;	
	width: calc(33.33% - #{$form-margin});
	&.omega {
		@include omega;
		width: 33.33%;
	}	
}

.form-2-3 {
	width: 60%;	
	width: calc(66.66% - #{$form-margin});
	&.omega {
		@include omega;
		width: 66.366%;
	}	
}

.form-1-4 {
	// width: 25%;	
	width: calc(25% - #{$form-margin});
	&.omega {
		@include omega;
		width: 25%;
	}	
}

.form-1-2 {
	// width: 50%;	
	width: calc(50% - #{$form-margin});
	&.omega {
		@include omega;
		width: 50%;
	}	
}


.group { 
  position:relative; 
  margin-top: 2.5em; 
}

.inputMaterial {
  font-size:18px;
  padding: 15px 0 3px 0;
  display:block;
  width:100%;
  border:none;
  border-bottom: 1px solid $studio-line;
}

.inputMaterial:focus { outline:none;}


label 				 {
  color: $blue-grey; 
  font-size: 1.2em;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: 0;
  top: .78em;
  transition:0.2s ease all; 
}

.inputMaterial:focus ~ label, 
.inputMaterial:valid ~ label 		{
  top:-10px;
  font-size:.8em;
}

// Bottom Bars
.bar 	{ position:relative; display:block;  }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:0; 
  position:absolute;
  background: $blue; 
  transition:0.2s ease all; 
}
.bar:before { left:50%; }
.bar:after { right:50%; }

// active state 
.inputMaterial:focus ~ .bar:before,
.inputMaterial:focus ~ .bar:after { 
	width:50%; 
}


.inputMaterial:focus ~ .highlight { animation:inputHighlighter 0.3s ease; }

// ANIMATIONS
@keyframes inputHighlighter {
	from { background:$blue; }
  to 	{ width:0; background:transparent; }
}



#company,
#class-types,
#managers,
#billing-info,
#merchant-account {
	padding: 2.75rem;
}


// Dropdown Custom UI
// original source (Demo 3): 
// http://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/
.custom-dropdown {	
  position: relative;
  font-size: 18px;
  padding: 15px 0 3px 0;
  margin-top: 2.5rem;
  background: $white;
  border-bottom: 1px solid $studio-line;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  overflow: visible;

  color: $blue-grey;
  &.active {
  	border-bottom: 2px solid $blue;
  }
}

.custom-dropdown .dropdown {
  position: absolute;
  top: 2.43em;
  left: 0;
  right: 0;
  padding-left: 0;
  margin: 0;
  background: white;
  border-radius: inherit;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
  transition: all 0.2s ease-in;
  list-style: none;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}


.custom-dropdown .dropdown li a {
  display: block;
  font-size: .9em;
  padding: 10px;
  margin-bottom: 0;
  text-decoration: none;
  color: $black;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
  transition: all 0.1s ease-out;
  &:hover { 
  	color: $blue;
  	background-color: lighten($blue, 46%);
  }
}

.custom-dropdown .dropdown li:last-of-type a {
  border: none;
}

.custom-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
