<svg  xmlns="http://www.w3.org/2000/svg" class="svg-sprite" style="display: none;" >
  <defs>

    <symbol id="logo" width="113.67" height="19.41" viewBox="0 0 113.67 19.41">
      <title>Logo</title>
      <g>
        <path id="Logo" d="M0,16.46a8.92,8.92,0,0,0,6.91,2.86c4.86,0,6.64-2.67,6.64-5.29,0-3.78-3.35-4.7-6.29-5.48-2.3-.62-4.37-1.16-4.37-3s1.54-2.86,3.7-2.86a6.89,6.89,0,0,1,5.21,2.16l1.35-1.65A8.47,8.47,0,0,0,6.78.72c-3.54,0-6.18,2-6.18,5,0,3.54,3.21,4.35,6.1,5.1,2.38,0.65,4.56,1.24,4.56,3.4,0,1.38-1,3.11-4.24,3.11a7.61,7.61,0,0,1-5.67-2.57Zm19.66,2.86a3.31,3.31,0,0,0,2.43-.84L21.52,17a2,2,0,0,1-1.38.54,1.41,1.41,0,0,1-1.32-1.67V7.74h2.65V6H18.82V2.39h-2V6H14.63V7.74h2.16v8.53c0,1.94,1,3.05,2.89,3.05h0ZM33.13,19h2V6h-2v9.58a5,5,0,0,1-3.86,2c-1.76,0-2.92-.67-2.92-3V6h-2v9.21c0,2.83,1.43,4.16,4.16,4.16a6.38,6.38,0,0,0,4.64-2.16V19Zm15.53,0h2V1h-2V7.93a5.45,5.45,0,0,0-4.4-2.29c-3.43,0-5.81,2.7-5.81,6.86s2.4,6.83,5.81,6.83a5.49,5.49,0,0,0,4.4-2.27V19Zm0-3.54a4.85,4.85,0,0,1-3.92,2.05c-2.62,0-4.18-2.13-4.18-5s1.57-5,4.18-5a4.9,4.9,0,0,1,3.92,2.11v5.91ZM55.73,4.1A1.36,1.36,0,0,0,57.1,2.75a1.36,1.36,0,1,0-2.73,0A1.35,1.35,0,0,0,55.73,4.1h0Zm-1,14.9h2V6h-2V19ZM66.5,19.32c4,0,6.45-3.08,6.45-6.86S70.47,5.64,66.5,5.64,60,8.69,60,12.47s2.48,6.86,6.45,6.86h0Zm0-1.81c-2.78,0-4.35-2.38-4.35-5s1.57-5,4.35-5,4.32,2.38,4.32,5-1.54,5-4.32,5h0ZM88.34,19H92.2V1H88.34V8.06H79.84V1H76V19h3.83V11.44h8.51V19Zm25.35-9a9.41,9.41,0,0,0-18.82,0,9,9,0,0,0,9.4,9.31,10.1,10.1,0,0,0,4.29-.92l1.43,1.7,2.67-2.19-1.32-1.54A9.47,9.47,0,0,0,113.7,10h0Zm-9.42,5.91c-3.32,0-5.45-2.56-5.45-5.91S101,4.1,104.27,4.1s5.48,2.54,5.48,5.91a6.44,6.44,0,0,1-.92,3.43l-2-2.32-2.65,2.19,2,2.29a5.34,5.34,0,0,1-1.89.32h0Z" transform="translate(-0.03 -0.69)" style="fill: #222328"/>
      </g>
    </symbol>



    <symbol id="icon--chevron"  width="16.04" height="9.43" viewBox="0 0 16.04 9.43">
      <title>Chevron Icon</title>
      <g id="Symbols">
        <polyline id="Chevron_Down" data-name="Chevron Down" points="0.71 0.71 8.02 8.02 15.33 0.71" >
      </g>
    </symbol>



    <symbol id="icon--students"   viewBox="0 0 20.53 14.57">
      <title>Students Icon</title>
      <g>
        <path d="M10.54,3.64A2.6,2.6,0,0,0,8,1H7.86A2.62,2.62,0,0,0,5.18,3.64c0,0.29.29,1.79,0.29,1.79A2.54,2.54,0,0,0,7.86,7.79a2.57,2.57,0,0,0,2.39-2.36s0.29-1.46.29-1.79h0Z" transform="translate(-0.71 -0.5)" />
        <path d="M14.46,14.57H1.25L1.46,12a2.41,2.41,0,0,1,2.11-1.82l4.29-.57,4.32,0.57a2.29,2.29,0,0,1,2.14,1.93l0.14,2.46h0Z" transform="translate(-0.71 -0.5)" />
        <path d="M17.5,5.43a2.14,2.14,0,0,0-4.29,0c0,0.25.25,1.39,0.25,1.39a2,2,0,0,0,1.89,1.86,2,2,0,0,0,1.89-1.86,9,9,0,0,0,.25-1.39h0Z" transform="translate(-0.71 -0.5)" Z>
        <path d="M15.36,10.29l3.54,0.43a1.83,1.83,0,0,1,1.71,1.57l0.11,2.29H16.61" transform="translate(-0.71 -0.5)" />
      </g>
    </symbol>



    <symbol id="icon--staff"  viewBox="0 0 21.15 21">
      <title>Staff Icon</title>
      <g id="Symbols">
        <path d="M15.13,5.09A4,4,0,0,0,11,1,4,4,0,0,0,6.87,5.09c0,0.48.48,2.74,0.48,2.74C7.7,9.78,9,11.43,11,11.43s3.3-1.65,3.65-3.65c0,0,.43-2.26.48-2.7h0Z" transform="translate(-0.43 -0.5)" />
        <path d="M21,21H1l0.48-3.57A2.89,2.89,0,0,1,3.91,15.3L11,14l7.09,1.26a2.79,2.79,0,0,1,2.39,2.13L21,21h0Z" transform="translate(-0.43 -0.5)" />
      </g>
    </symbol>



    <symbol id="icon--settings"  viewBox="0 0 21 21">
      <title>Settings Icon</title>
      <g>
        <circle id="Oval" cx="10.5" cy="10.5" r="3.04" />
        <path id="Shape" d="M21,12.43v-3l-1.74-.13a1.85,1.85,0,0,1-1.57-1.14v0A1.85,1.85,0,0,1,18,6.25l1.14-1.3L17,2.82,15.71,4a1.85,1.85,0,0,1-1.92.31h0a1.81,1.81,0,0,1-1.14-1.55L12.49,1h-3L9.38,2.71A1.83,1.83,0,0,1,8.24,4.27h0A1.85,1.85,0,0,1,6.32,4L5,2.83,2.87,4.91,4,6.22a1.85,1.85,0,0,1,.31,1.92h0A1.85,1.85,0,0,1,2.74,9.33L1,9.46v3l1.74,0.13A1.85,1.85,0,0,1,4.31,13.7v0A1.85,1.85,0,0,1,4,15.65L2.87,17,5,19.06l1.3-1.14a1.85,1.85,0,0,1,1.92-.31h0a1.89,1.89,0,0,1,1.14,1.6L9.51,21h3l0.13-1.76a1.87,1.87,0,0,1,1.14-1.59h0a1.85,1.85,0,0,1,1.92.3L17,19.09,19.1,17,18,15.68a1.85,1.85,0,0,1-.31-1.92v0a1.85,1.85,0,0,1,1.6-1.17Z" transform="translate(-0.5 -0.5)" />
      </g>
    </symbol>



    <symbol id="icon--plus"  viewBox="0 0 20 20.06">
      <title>Plus Icon</title>
      <g>
        <path id="Shape" d="M0,10.56H20" transform="translate(0 -0.5)"/>
        <path id="Shape-2" data-name="Shape" d="M10,20.56V0.5" transform="translate(0 -0.5)" />
      </g>
    </symbol>



    <symbol id="icon--payments" viewBox="0 0 21 19.31">
      <title>Payments Icon</title>
      <g>
        <path id="Book" d="M1,4V15.78a3.49,3.49,0,0,0,3.48,3.48h13A3.49,3.49,0,0,0,21,15.78V5.35H2.39A1.36,1.36,0,0,1,1,4H1A1.33,1.33,0,0,1,2.22,2.65L19.26,1V5.35" transform="translate(-0.5 -0.45)" />
        <path id="Shape" d="M16.65,9.26H21v5.22H16.65A2.62,2.62,0,0,1,14,11.87h0a2.62,2.62,0,0,1,2.61-2.61h0Z" transform="translate(-0.5 -0.45)" />
        <circle id="Oval" cx="16.59" cy="11.42" r="0.87"/>
      </g>
    </symbol>



    <symbol id="icon--logout" viewBox="0 0 19.47 21">
      <title>Logout Icon</title>
      <g>
        <path d="M6.83,14v4.35A2.62,2.62,0,0,0,9.43,21H19V1H9.43A2.62,2.62,0,0,0,6.83,3.61V8" transform="translate(-0.03 -0.5)" />
        <path d="M12,11H0.74" transform="translate(-0.03 -0.5)"/>
        <polyline points="4.4 14.2 0.71 10.5 4.4 6.8" />
      </g>
    </symbol>



    <symbol id="icon--dashboard"  width="21" height="16.65" viewBox="0 0 21 16.65">
      <title>Dashboard Icon</title>
      <g>
        <rect id="Rectangle-path" x="0.5" y="0.5" width="20" height="15.65"/>
        <path id="Shape" d="M1,6H21" transform="translate(-0.5 -0.5)" />
        <path id="Shape-2" data-name="Shape" d="M7,6.22V16.65" transform="translate(-0.5 -0.5)" />
      </g>
    </symbol>



    <symbol id="icon--classes"  viewBox="0 0 20.17 17.17">
      <title>Classes_Icon</title>
      <g>
        <path d="M11,4.33A3.34,3.34,0,0,0,7.67,1H1.42V14.33H7.71C11,14.33,11,17.67,11,17.67a3.26,3.26,0,0,1,3.33-3.33h6.25V1H14.33A3.34,3.34,0,0,0,11,4.33" transform="translate(-0.92 -0.5)"/>
        <path d="M12.88,17.46A2.58,2.58,0,0,1,15.17,16H21" transform="translate(-0.92 -0.5)" />
        <path d="M9.13,17.46A2.54,2.54,0,0,0,6.83,16H1" transform="translate(-0.92 -0.5)"/>
      </g>
    </symbol>



  </defs>
</svg>