// Social Colors
$twitter: #63cdf1;
$facebook: #507cbe;
$pinterest: #f16261;
$instagram: #517fa4;
$youtube: #bb0000;


// Utility Colors
$error: #f84040;
$success: #a7e272;
$warning: #f6ad3b;

// Color Colors
$white: #ffffff;
$grey: #E7EAF1;
$black: #3A405B;
$black-grey: #2d2d2d;
$black--true: #000000;

$blue: #ABAFC3;
$blue: #508DB4;
$blue-white: #DEE4E9;
$blue-grey: #ABAFC3;

$green: #78AF3B;


$studio-line: #D8DCE3;

// Convention Colors
$black-text: $black-grey;
$black-background: $black;
$black-shadow: $black;



//Module Colors
