$headerfont: "proxima-nova", sans-serif;
$basefont:  "proxima-nova", sans-serif;


@mixin proxima-nova-light {
  font-family: $headerfont;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}


@mixin proxima-nova {
  font-family: $headerfont;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}


@mixin proxima-nova-bold {
  font-family: $headerfont;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}



h1, h2, h3, h4, h5, h6, {
  @include proxima-nova;
  margin: 0;
  line-height: 1;
  color: $black;


}

a, li a, a li {
  @include proxima-nova;
  text-decoration: none;
  color: $black;
}

h1 {
  margin: 0;
  line-height: 1;
  @include media($device) { font-size: 5rem; }
}

h2 {
  letter-spacing: 1px;
  @include media($mobile-medium) { font-size: 3.5rem; }
}

h3 {
  @include media($mobile-medium) { font-size: 1.2rem; }
}

h4 { font-size: 1rem; }

h5 { font-size: 1rem; }
h6 { font-size: 1rem; }
p, a, {
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0 0 .75em 0;
}
